<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h3>Questions?</h3>
        <p>This site is maintained by the Communication & Knowledge Management team. You can contact us <a href="#"><b>here</b></a>.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h3>Quick Info</h3>
        <ul>
          <li><a href="#">Park Hours</a></li>
          <li><a href="#">Directions</a></li>
          <li><a href="#">Maps</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
    © 2019 Universal Parks & Resorts
    </div>
  </div>
</footer>