 <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="img/uKNOW Logo_Final.png" alt="uKNOW logo" class="logo responsive-img"></a>
            <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons">menu</i></a>

            <ul class="white sidenav headline" id="mobile-demo" style="width: 75%">
                <li><a href="/" class="black-text">Home</a></li>
                <li><a href="/epicuniverse" class="black-text">Epic Universe</a></li>
                <li><a href="/mardigras" class="black-text">Mardi Gras 2019</a></li>
            </ul>

        </div>
    </nav>
 </div>
 


        