<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Universal uKnow">
    <title>Universal uKnow</title>
    <link rel="icon" href="img/favicon.ico">
    <style>
        @import url('css/style.css');
    </style>
    <link rel="stylesheet" href="https://use.typekit.net/kmn5riv.css">
</head>

<body id="home" class="wrap-home">
    {{{body}}}
    <script type="text/javascript" src="js/libs/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/libs/materialize.min.js"></script>
    <script id="loadScript" src="js/layout.js"></script> 
</body>

</html>