{{>navbar}}
<main class="pages"> 
    <div class="col s12 hero-container">
        <img src="img/epicUniverse.jpg" class="materialboxed" alt="Epic Universe Concept art Rendering" class="responsive-image">
        <div class="centered"><h1>Universal's Epic Universe</h1></div>
    </div>
     <div class="col s12">
        <div class="search-bar">
            <img src="img/searchBar.png" alt="Search Bar Dummy">
        </div>
    </div> 
    <h2 class="news-title center-align">Newsletter</h2>
    <div class="col row feat-news">
        <div class="col m1"></div>
        <div class="col m5">
            <img class="feat-news-img" src="img/Universals-Epic-Universe-Logo.png" alt="Epic Universe logo with a nebular background">
        </div>
        <div class="col m5">
            <h3 class="feat-news-title">From amazing adventures to an epic universe!</h3>
            <p class="feat-news-para">Amazing adventures in an epic universe are in the horizon! With a 
                2023 expected gate opening, Universal’s Epic Universe ... </p>
            
            <!-- Modal Trigger -->
            <a href="#modal1" class="uKnow-btn modal-trigger">Read More</a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                <h3>From amazing adventures to an epic universe!</h3>
                <p>Team members,
                    <br>
                    <br>
                    Amazing adventures in an epic universe are in the horizon! With a 2023 expected gate opening, Universal’s Epic Universe new theme park is predicted to be Orlando’s most coveted attraction. In the upcoming months we will be launching a series of webinars and publishing a brand new Epic Universe section at uKnow to keep you updated along the way about the park’s developments. We know it’s early but with lots of new information coming our way it’s not too soon to get started.
                    <br>
                    <br>
                    Epic Universe means more adventures, experiences, and memories for our guests and our challenge is to keep them up-to-date with verified and official information about the upcoming theme park. The idea behind this initiative is not only to provide accurate information to our guests but to keep them excited throughout the park construction process. While the CKM team works hard to develop content for the information sessions and the new uKnow section let’s take a quick look at the three main goals about this knowledge initiative: 
                    <br>
                    <br>
                    First, we want our team members to have access to the correct information in order to keep our guests informed with correct and up-to-date information.
                    <br>
                    <br>
                    Second, we will be publishing the latest news as soon as they become available to keep our future guests excited with the latest updates.
                    <br>
                    <br>
                    And finally, there is nothing more exciting than making future travel plans! We want our future guests plan ahead so that they can experience for themselves the greatest theme park Orlando has ever seen!
                    <br>
                    <br>
                    Epic is coming our way!
                    <br>
                    <br>
                    - CKM Team</p>
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                </div>
            </div>
        
        </div>
    </div>
    <br>
    <br>
    <h3 class="news-title center-align">Stay in the Know</h3>
    <br>
    <div class="row container">
        <ul class="collapsible">
            <li>
            <div class="collapsible-header">Updates</div>
            <div class="collapsible-body"><span>The preliminary open date is set to 2023. The 750-acre park will be built in the area 
                surrounding the Orange County Convention Center, along Universal Boulevard, and will be Universal's first project since 
                completing Volcano Bay back in 2017.
                <br>
                <br>
                Please stay tuned for more updates!
                </span></div>
            </li>
            <li>
            <div class="collapsible-header">Park Rendering and Map</div>
            <div class="collapsible-body">
                    <img src="img/devplan1.png" class="" alt="Epic Universe Concept art Rendering" class="responsive-image">
                    <br>
                    <img src="img/devplan2.jpg" class="" alt="Epic Universe Concept art Rendering" class="responsive-image">
            </div>

            </li>
            <li>
            <div class="collapsible-header">FAQs</div>
            <div class="collapsible-body"><span>Coming soon!</span></div>
            </li>
        </ul>
    </div>

</main>
{{>footer}}
