{{>navbar}}
<main class="pages">
    <div class="col s12">
        <img src="img/uKnowBannerV3.png" alt="" class="responsive-image">
    </div>
        <div class="col s12">
            <div class="search-bar">
                <img src="img/searchBar.png" alt="Search Bar Dummy">
            </div>
        </div> 
        <h2 class="news-title center-align">Latest News</h2>
        <div class="col row feat-news">
            <div class="col m1"></div>
            <div class="col m5">
                <img class="feat-news-img" src="img/Universals-Epic-Universe-Logo.png" alt="Epic Universe logo with a nebular background">
            </div>
            <div class="col m5">
                <h3 class="feat-news-title">Epic is coming our way!</h3>
                <p class="feat-news-para">Epic. It’s a word that gets tossed around a lot in today’s day and age, 
                    though not one we use loosely. When we label something as epic, we want that experience to live up 
                    to the promise that the word makes. Which is why today ...</p>
                    <a href="/epicuniverse" class="uKnow-btn"> Find Out More</a>
            </div>
        </div>
        <br>
        <div class="row card-container">
            <div class="col s12 m4">
                <div class="card z-depth-1">
                    <div class="card-image">
                        <img src="img/harry.jpg">
                    </div>
                    <div class="card-content feat-news-card-title">
                        <a href="#" class="feat-news-card-link">The Newly Enhanced The Wizarding World of Harry Potter Vacation Package</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card z-depth-1">
                    <div class="card-image">
                        <img src="img/bourne.jpg">
                    </div>
                    <div class="card-content feat-news-card-title">
                        <a href="#" class="feat-news-card-link">All-New Live-Action Stunt Show The Bourne Stuntacular Coming to Universal Studios Florida</a>
                    </div>
                </div>
            </div>
              <div class="col s12 m4">
                <div class="card z-depth-1">
                    <div class="card-image">
                        <img src="img/universal.jpg">
                    </div>
                    <div class="card-content feat-news-card-title">
                        <a href="#" class="feat-news-card-link">QUIZ: Are you a Universal expert?</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
          <h2 class="news-title center-align">Events</h2>
            <div class="col row feat-news">
                <div class="col m1"></div>
                <div class="col m5">
                    <h3 class="feat-news-title two">Universal Mardi Gras 2019</h3>
                    <p class="feat-news-para two">The start of a new year is upon us. Time to set those New Year’s resolutions, start 
                        planning out your year, and most importantly, get ready for Universal’s Mardi Gras. This year’s event returns 
                        Feb. 9 – April 4 to Universal Studios Florida with nightly parades, live concerts on select ...</p>
                        <a href="/mardigras" class="uKnow-btn two"> Find Out More</a>
                </div>
                <div class="col m5">
                    <img class="feat-news-img two" src="img/mardiGras2.jpg" alt="Epic Universe logo with a nebular background">
                </div>
            </div>
            <br>
            <div class="row card-container">
                <div class="col s12 m4">
                   <a href="#"><img src="img/eventTile1.png"></a> 
                </div>
                <div class="col s12 m4">
                   <a href="#"><img src="img/eventTile2.png"></a> 
                </div>
                <div class="col s12 m4">
                   <a href="#"><img src="img/eventTile3.png"></a> 
                </div>
            </div>
</main>

{{>footer}}

 
