{{>navbar}}
<main class="pages">
    <div class="col s12 hero-container">
        <img src="img/mardiGras.jpg" class="materialboxed" alt="Guests watching the Mardi Gras parade" class="responsive-image">
        <div class="centered"><h1>Mardi Gras</h1></div>
    </div>
     <div class="col s12">
        <div class="search-bar">
            <img src="img/searchBar.png" alt="Search Bar Dummy">
        </div>
    </div>
    <div class="col row feat-news">
        <div class="col m2"></div>
        <div class="col m8">
            <h2 class="feat-news-title">Mardi Gras is Returning in 2020</h2>
            <p class="feat-news-para">For 55 consecutive nights from Feb 9 – April 4</p>
            <p class="feat-news-para">Florida’s Biggest Party returns in 2019 with nightly parades, unique New Orleans inspired cuisine, and more! On select nights throughout the event, Mardi Gras will feature headliner concerts to take the party to the next level. 
            </p>
        </div>
    </div>
    <br>
    <div class="container tabs-container z-depth-1">
        <ul id="tabs" class="tabs">
            <li class="tab col s3"><a class="active" href="#tab-1">Concerts</a></li>
            <li class="tab col s3"><a href="#tab-2">Parade</a></li>
            <li class="tab col s3"><a href="#tab-3">Dining</a></li>
            <li class="tab col s3"><a href="#tab-4">Details</a></li>
        </ul>
        <div id="tab-1" class="col s12 tabs-body">
            <h3>Thirteen (13) Concert Nights on select nights</h3>
            <ul class="col m6">
                <li>Sat, 2/9 - BUSH </li>
                <li>Sat, 2/16 – Gavin DeGraw </li>
                <li>Sun, 2/17 – Dan + Shay </li>
                <li>Sat, 2/23 - Macklemore </li>
            </ul>
            <ul class="col m6">
                <li>Sat, 3/2 – To Be Announced </li>
                <li>Sat, 3/9 – Becky G </li>
                <li>Sun, 3/10 – Sean Paul </li>
                <li>Sat, 3/16 – Steve Miller Band </li>
                <li>Sun, 3/17 – Ziggy Marley </li>
                <li>Sat, 3/23 - NF </li>
                <li>Sun, 3/24 – Pitbull </li>
                <li>Sat, 3/30 – To Be Announced </li>
                <li>Sat, 3/31 – To Be Announced </li>
            </ul>
        </div>
        <div id="tab-2" class="col s12 tabs-body">
            <h3>Mardi Gras Parade</h3>
            <ul>
                <li class="tabs-li">The spirit of the animal world is running rampant through this year’s Mardi Gras event, and it has a message for us busy humans. It’s time to relax, gather with friends, share delicious foods, dance in the streets, and become the party animals you deserve to be.</li>
                <li class="tabs-li">Our parade revelers will be dressed as their spirit animals that hail from jungles, the frozen Arctic, the swamps of Louisiana, creatures from the deep blue sea, birds that soar the skies, and even the bees in the meadows. Let the good times roll, and become a Party Animal yourself.</li>
            </ul>
        </div>
        <div id="tab-3" class="col s12 tabs-body">
            <h3>True Cajun Cuisine</h3>
            We’re cooking up some of the bayou’s best dishes to give you an authentic taste of New Orleans fare, available for purchase. Enjoy jambalaya, beignets and more in tasting sizes so you can sample a variety of Cajun and Creole cuisine.</div> 
        <div id="tab-4" class="col s12 tabs-body">
            <ul>
                <li class="tabs-li">The French Quarter is opened nightly at 4:00pm.  More details soon.  </li>
                <li class="tabs-li">Power Passholders can enter Universal Studios Florida after 5pm on concert nights.</li>
                <li class="tabs-li">Special “Tasting Lanyards” are available for purchase for $15.</li>
            </ul>  
            </div> 
    </div>
</main>
{{>footer}}
